<!DOCTYPE html>
<html>
<head>
    <!--
        Author: Shane Skinner
        Purpose: To provide a brief introduction to AngularJS
        Last Updated: 05-23-2014
    -->

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Introduction to AngularJS">
	
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="shanesStyles.css" />

    <title>Go Seahawks!</title>
</head>

<body>
    <header>
    	<div class="row"><h1>ECTWdWd: Lightning Talks...</h1></div>
    		<div class="row">
    			<nav>
    				<a href="jaym/index.html">Jay Morgan</a>
    				<a href="wildman/index.html">Matt Wildman</a>
                    <a href="../niosi/index.html">Jude Niosi</a>
    				<a href="index.html">Shane Skinner</a>
    			</nav>
    		</div>
        <div class="row">
            <h2>More about <em>AngularJS</em> by: <a href="http://www.shaneskinner.com" alt="www.shaneskinner.com">
                Shane Skinner</a></h2>
        </div>
    </header>

     <section ng-app="SeahawksApp" class="seahawks clear">
            <article ng-controller="SeahawksCtrl">
                <br />
                <h1>Seattle Seahawks</h1>
                <h3>Coach: {{coach}} </h3>
                <p>Search for a players name or position</p>
                <input type="text" ng-model="searchText">
                <br /><br />
                <table>
                    <tr>
                        <td class="bold">Player:</td>
                        <td class="bold">Position:</td>
                    </tr>
                    <tr ng-repeat="player in seahawks | orderBy: 'position' | filter:searchText">

                        <td>{{player.name}}</td>
                        <td>{{player.position}}</td>
                    </tr>
                </table>
            </article>

            <article>
                <br />
                <p>With AngularJS directives, you can create custom HTML elements. For example, I created a "rant" element like this:</p>
                <pre>
                    <code>
SeahawksApp.directive('rant', function () {
return {
    restrict: 'E',
    replace: true,
    template: "< div>Don't you ever talk about me! I'm the best Cornerback in the league!< /div>"
}
});
                    </code>
                </pre>
                <p>And then I inserted it into the HTML file by simply adding:</p>
                <pre><code>
                    < rant>< /rant> (Excluding the spaces)
                </code></pre>
                <h3>Richard Sherman says:</h3>
                <h4><rant></rant></h4>
                <br />
            </article>

            <aside>
                <p>For a better demo on Angular JS, <a href="https://www.youtube.com/watch?v=i9MHigUZKEM" alt="AngularJS Fundamentals in 60'ish Minutes">watch this video</a>. If you don't have an hour and 10 minutes to watch it all, fast-forward to the 1:03:15 mark and watch the last ~7 minutes to see a nice example of what AngularJS can do.</p>
            </aside>
        </section>
    </section>

    <footer>
        <h3>Thank you for participating!</h3>
        <div>
            <h4>Some Good Resources to learn more about AngularJS:</h4>
                <ul>
                    <li><a href="http://angularjs.org/" alt="www.angularjs.org/">AngularJS.org</a></li>
                    <li><a href="http://github.com/angular/angular.js" alt="www.github.com/angular/angular.js">
                           AngularJS on Github</a></li>
                    <li><a href="http://docs.angularjs.org/guide" alt="www.docs.angularjs.org/guide">Developer Guide</a>
                           </li>
                    <li><a href="http://egghead.io/articles/new-to-angularjs-start-learning-here" 
                           alt="Thanks for suggesting www.egghead.io, Jay!">Learn on Egghead.io</a></li>
                    <li><a href="https://www.youtube.com/watch?v=i9MHigUZKEM" alt="AngularJS Fundamentals">Angular JS 
                           Fundamentals in 60'ish Minutes</a></li>
                    <li><a href="http://teamtreehouse.com/library/building-with-angularjs-and-apis" 
                           alt="Learn on Treehouse.com">Learn on Treehouse.com</a></li>
                    <li><a href="" alt=""></a></li>
                </ul>
        </div>
    </footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js">
    </script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="SeahawksApp.js"></script>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/plugins.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
